.landingpage-bgimage {
  background: url(https://i.pinimg.com/originals/4a/94/26/4a94268541d7a0ed95a8be5138e8a288.jpg);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

input {
  height: 2rem;
  padding-left: 10px;
}
select {
  height: 2rem;
  padding-left: 10px;
}
@media (max-width: 1022px) {
  .social {
    padding-top: 30px;
  }
}
i {
  font-size: 25px;
}
i:hover {
  color: rgb(20 184 166);
  transition: color 0.3s ease-in;
}
